h2 {
  margin-left: 12px;
  font-size: 40px;
  font-family: Helvetica;
}

h3 {
  margin-left: 15px;
  margin-top: 40px;
  font-size: 20px;
  font-family: Helvetica;
}

table {
  margin-left: 15px;
  margin-top: 40px;
}

.delete-icon {
  padding-top: 16px;
}

.failure {
  position: absolute;
  margin-left: 15px;
  margin-top: 5px;
  color: red;
  font-family: Helvetica;
  font-size: 20px;
}

.success {
  position: absolute;
  margin-left: 15px;
  margin-top: 5px;
  color: green;
  font-family: Helvetica;
  font-size: 20px;
}

#add-label {
  margin-left: 15px;
  font-family: Helvetica;
}

.container {
  display: flex;
  flex-direction: column;
}

.category-name {
  font-size: 16px;
  font-family: Helvetica;
  padding-right: 60px;
}

td {
  font-size: 14px;
  font-family: Helvetica;
  padding-right: 10px;
  padding-bottom: 15px;
}

.idea-main-title {
  margin-left: 10px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 40px;
  color: #363636;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

.info-2 {
  font-size: 20px;
  font-family: Helvetica;
  color: #363636;
  padding-bottom: 15px;
  margin-bottom: 15px;
  text-align: left;
  padding-top: 15px;
  list-style-type: none;
}
