<%= stylesheet_link_tag "create_edit" %>
<p class="previous-icon" title="Return to Index"><%= link_to image_tag("return.png", height: 35, width: 125), categories_path %></p>
<h2 class="idea-main-title">Create a New Category</h2>
<%=  render partial: "form" %>
